.idea
.vscode
.tmp
.env
.env.example
node_modules
docker
docker/logs
vendor
plugins
!vendor/autoload.php
wp-*
*.map
.DS_STORE


/node_modules
/vendor/*/*
/theme/vendor/*
/docker/database/*
/docker/wordpress/*
*.map
/src/node_modules/*/*

uploads/
upgrade/
debug.log