{% include "parts/header.twig" %}

<main class="page page--single-post">
  <div class="row">
    <div class="column">
      <article>
        {{ post.content }}
      </article>
    </div>
  </div>
</main>

{% include "parts/footer.twig" %}
